.linkflair::before {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    transform: scale(0.5);
    display: block;
}

.linkflair-advice::before { background-position: -5px -5px; }

.linkflair-discussion::before { background-position: -79px -5px; }

.linkflair-event::before { background-position: -153px -5px; }

.linkflair-gurbani::before { background-position: -5px -79px; }

.linkflair-history::before { background-position: -79px -79px; }

.linkflair-katha::before { background-position: -153px -79px; }

.linkflair-kirtan::before { background-position: -5px -153px; }

.linkflair-news::before { background-position: -79px -153px; }

.linkflair-quality::before { background-position: -153px -153px; }

.linkflair-question::before { background-position: -227px -5px; }

.linkflair-song::before { background-position: -227px -79px; }
